<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="master.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


  <title>TodoList</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-dark bg-primary">
      <a href="#" class="navbar-brand">Todo List</a>
    </nav>
  </header>

  <main class="container" id="app">
    <h1>Todo List</h1>
    <section class="todo-input">
      <form method="post">
        <div class="form-row">
          <div class="form-group col">
            <label for="todoID">Mein Todo</label>
            <input v-model="todo" type="text" class="form-control" id="todoID" placeholder="einkaufen">
          </div>
          <div class="form-group col">
            <label for="priority">Priorität</label>
            <select class="form-control" id="priority" v-model="priority">
              <option value="0" disabled>Wähle...</option>
              <option v-for="item in priorityData" :value="item.id">{{item.name}}</option>
            </select>
          </div>
          <div class="col-md-1">
            <button type="button" class="btn btn-primary" @click="saveTodo()">Submit</button>
          </div>
        </div>
      </form>
    </section>
    <section id="todo-output">
      <ul>
        <li>Anzahl</li>
        <li @click="sortTodos()">Todo</li>
        <li>Priorität</li>
        <li>Status</li>
        <li>Löschen</li>
      </ul>
      <ul v-for="(todo, index) in todos" :key="renderKey + index">
        <li>{{index + 1}}</li>
        <li :class="{'done':todo.done}">{{todo.todo}}</li>
        <!--li>
          <template v-for="item in priorityData">
            <template v-if="item.id === todo.priority">{{item.name}}</template>
        </template>
      </li-->
        <li>{{todo.priorityName}}</li>
        <li><button type="button" class="btn btn-success" @click="setDone(index)">Erledigt</button></li>
        <li><button type="button" class="btn btn-danger" @click="deleteTodo(index)">Löschen</button></li>
      </ul>
    </section>
  </main>

  <footer>

  </footer>

  <script type="text/javascript" src="app.js">

  </script>
</body>

</html>
